<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add some User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/new_user}" th:object="${user}">
    <label for="name">Name</label>
    <input name="name" th:field="*{name}" id="name"/>

    <br>

    <label for="lastname">Lastname</label>
    <input name="lastname" th:field="*{lastName}" id="lastname"/>

    <br>

    <label for="mail">Email</label>
    <input name="mail" th:field="*{email}" id="mail"/>

    <br>

    <label for="password">Password</label>
    <input name="password" th:field="*{password}" id="password"/>

    <br>

        <p>
            <label>Роли:
                <input type="checkbox" name="roles"
                       th:each="role: ${roles}"
                th:text="${role.getName()}"
                th:value="${role.getId()}"
                th:field="*{roles}"
                />
            </label>
        </p>

    <br>

    <input type="submit" value="Добавить пользователя"/>
</form>

</body>
</html>