<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${user.getName()}"/>
<p th:text="${user.getLastName()}"/>
<p th:text="${user.getEmail()}"/>

<br>

<a th:href="@{/admin/user_list/{id}/update(id=${user.getId()})}">Обновить данные</a>

<br>

<form th:method="DELETE" th:action="@{/admin/user_list/{id}(id=${user.getId()})}">
    <input type="submit" value="Удалить пользователя"/>
</form>
</body>
</html>